.form{
    display: flex;

    @include tablet{
        display: block;
        padding: 0 10%;
    }

    @include mobile{
        padding: 0 1%;
    }

    &__col{
        flex: 1;
        margin-right: rem(27px);

        @include tablet{
            margin-right: 0;
        }

        @include mobile{
            margin-right: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: rem(12px);
    }
    &__block{
        flex: 1;
        margin-right: rem(15px);
        &:last-child{
            margin-right: 0;
        }
    }
    &__title{
        line-height: rem(22px);
    }
    &__input{
        width: 100%;
        height: rem(58px);
        border: rem(3px) solid #fff;
        font-size: rem(14px);
        padding: 0 rem(12px);
        border-radius: rem(4px);
        &:focus{
            border: rem(3px) solid #DEE2BD;
        }
        &.false{
            border: rem(3px) solid rgb(247, 184, 184);
        }
    }
    &__input--textarea{
        resize: none;
        width: 100%;
        height: rem(150px);
    }
    &__controls{
        display: flex;
        flex-wrap: wrap;

        @include mobile{
            justify-content: center;
        }

    }
    &__btns{
        margin-top: rem(47px);

        @include tablet{
            text-align: center;
        }

    }
    &__btn{
        background-color: #2E4E3F;
        color: #fff; 
    }
    &__btn-clean{
        line-height: rem(22px);
        color: #497870;
        background-color: inherit;
        margin-left: rem(22px);
    }
}