html{
    font-size:18px;

    @include tablet {
        font-size: 16px;
    }

    @include mobile {
        font-size: 14px;
    }
}
body{
    font-family: 'Alegreya Sans', sans-serif;
    color: #666;
}
.container{
    max-width: 962px;
    width: 97%;
    margin: 0 auto;
    position: relative;
}
.logo{
    width: 53px;
    height: 39px;
}
.wrapper{
    transition: transform 0.5s ease-in-out;
}
