.initial{
    color: #fff;
    background: url(../img/initial/list1.png) bottom right no-repeat;
    background-color: #61C4D9;
    position: relative;

    &::before, &::after{

        @include tablet{
            display: none;
        }
    }
    &::before{
        position: absolute;
        content: url("../img/initial/list2.png");
        left: 2%;
        bottom: rem(-40px);
    }
    &::after{
        position: absolute;
        content: url("../img/initial/berry.png");
        right: 1%;
        bottom: rem(-38px);

    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background: url(../img/initial/candy.png) right center / 50% auto no-repeat;

        @include tablet{
            background: none;
        }

    }
    &__title-section{
        width: 47%; 

        @include tablet{
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;

            &::before{
                content: url("../img/initial/candy-media.png");
                margin-bottom: 20px;
            }
        }

        @include mobile{
            &::before{
                content: "";
                width: 310px;
                height: 320px;
                background: url(../img/initial/candy-media.png) center center / contain no-repeat;
            }
        }
    }
    &__title{ 
        color: #fff;
        text-align: left;
        margin-bottom: rem(17px);

        @include tablet{
            text-align: center;
        }

        @include mobile{
            font-size: rem(40px);
            line-height: rem(36px);
        }
    }
    &__suptitle{
        font-size: rem(21px);
        padding-right: 19%;
        margin-bottom: rem(52px);

        @include tablet{
            width: 100%;
            text-align: center;
            padding: 0 28%;
            margin-bottom: rem(23px);
        }

        @include mobile{
            width: 100%;
            text-align: center;
            padding: 0 4%;
            margin-bottom: rem(23px);
        }

    }
    &__desc{
        margin-bottom: rem(50px);
        z-index: 1;
        @include tablet {
            display: none;
        }
    }
    &__desc-inner{
        display: flex;
    }
    &__desc-item{
        display: flex;
        margin-right: rem(46px);
        &:last-child{
            margin-right: 0;
        }
    }
    &__desc-img{
        width: 45px;
        height: 37px;
        margin-right: rem(7px);
    }
    &__desc-text{
        font-size: rem(16px);
        max-width: rem(85px);
    }
}