.interactive-avatar{
    width: rem(78px);
    height: rem(78px);
    border: rem(4px) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: initial;

    &:hover{
        border: rem(4px) solid #365A49;
    }

    &__img{
        width: 100%;
    }
    &.active{
        border: rem(4px) solid #365A49;
    }
}