.map{
    @include tablet{
        min-height: 0;
        max-height: 524px;
       
    }
    @include mobile{

        max-height: 482px;
    }
    &__container{
        width: 100%;
        height: 100%;
    }
}
