.reviews{
    background: url(../img/reviews/berry.png) right 5% top 5% no-repeat;
    position: relative;

     @include tablet {
          background-position: right -5% top 0;
     }

    &::before{
        position: absolute;
        content: url("../img/reviews/list-2.png");
        left: 0;
        bottom: rem(-150px);
        z-index: 1;

          @include mobile{
               content: url("../img/reviews/list-2-mobile.png");
     }

     }
     &::after{
          position: absolute;
          content: url("../img/reviews/berry-2.png");
          left: 0;
          bottom: rem(-80px);
          z-index: 1;
  
          @include mobile{
               content: url("../img/reviews/berry-2-mobile.png");
               bottom: rem(-110px);
          }
     }

     &__display{
          background: url(../img/reviews/list.png) right 10% no-repeat;
           background-color: #F8FAF9;
           overflow: hidden;
           position: relative;
           &::before{
               content: "";
               display: block;
               width: rem(90px);
               height: rem(90px);
               background-color: #fff;
               border-radius: 50%;
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               top: rem(-65px);
          }
     }
     &__display-box{
          align-items: center;
          display: flex;
          padding: rem(42px) rem(142px) rem(42px) rem(42px);

          @include tablet{
               display: block;
               text-align: center;
               padding: rem(56px) rem(24px) rem(24px);
          }
     }
     &__display-inner{
          display: none;
          
          &.active{
               display: block;
          }

     
     

   }
   &__avatar{
        margin-right: rem(40px);
        width: rem(253px);
        height: rem(264px);

        @include tablet{
          width: rem(130px);
          height: rem(130px);
          margin: 0 auto rem(32px);
     }
   }
   &__avatar-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
   }
   &__content{
        flex: 1;
   }
   &__title{
        font-size: rem(27px);
        line-height: rem(32px);
        font-weight: 700;
        color: #292929;
   }
   &__text{
        line-height: rem(22px);
        margin: rem(12px) 0 rem(25px);
   }
   &__name{
        line-height: rem(24px);
        font-weight: 600;
        color: #292929;
   }
   &__switcher{
        display: flex;
        justify-content: center;
        margin-top: rem(32px);
   }
   &__switcher-item{
        margin-right: rem(6px);
        &:last-child{
             margin-right: 0;
        }
   }
}
#display__inner-2{
     display: flex;
}
