.video{
    background-color: #F8FAF9;
    &__container{
        position: relative;
        &::before{
            content: url("../img/player/list-top.png");
            position: absolute;
            top: 65px;
            right: 55px;
            @include tablet {
                content: url("../img/player/list-top-m.png");
                top: 65px;
                right: 0;
            }
            @include mobile {
                top: 35px;
                right: 0;
            }
        }
        &::after{
            content: url("../img/player/list-bottom.png");
            position: absolute;
            left: 30px;
            bottom: -100px;
            @include tablet {
                content: url("../img/player/list-bottom-m.png");
                bottom: 30px;
                left: 0;
            }
            @include mobile {
                bottom: -130px;
                left: -8px;
            }
        }
    } 
        // background: url(../img/player/list-top.png) right 28% top 300px no-repeat, url(../img/player/list-bottom.png) left 28% bottom 160px no-repeat;
}